ul {
  margin: 0;
  padding: 0;
  width: 100%;
}

input,
button {
  outline: none;
}

/* Heading */
.title-section,
label[for="new-task"] {
  color: #333;
  font-weight: 700;
  font-size: 1em;
  border-bottom: 2px solid #333;
  padding: 2.5vw 0 0.5vw;
  margin: 0;
  text-transform: uppercase;
}

.tasks-section {
  position: relative;
}

#check-all-button {
  position: absolute;
  top: 2.5vw;
  right: 0;
  width: 25%;
  font-size: 1em;
}

/* New Task Section */
.new-task-section {
  margin: 0 0 2vw;
}

.add-new-task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

label[for="new-task"] {
  display: block;
  margin-bottom: 1vw;
}

input#new-task {
  width: 80%;
}

#add-button {
  width: 20%;
}

#add-button:hover {
  color: #0fc57c;
}

/* Task list element styles */
li {
  display: grid;
  grid-template-areas: "checkbox label edit delete";
  grid-template-columns: 5% 65% 15% 15%;
  align-items: center;
  overflow: hidden;
  padding: 1vw 0.75vw;
  border-bottom: 1px solid #eee;
}

li input[type="checkbox"] {
  grid-area: checkbox;
}

li label {
  grid-area: label;
  font-size: 1.1em;
  line-height: 40px;
  width: 100%;
  padding: 0 0 0 11px;
}

.edit {
  grid-area: edit;
}

.delete {
  grid-area: delete;
}

button {
  background: none;
  border: 0;
  color: #888;
  font-size: 1em;
  width: 100%;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

button:hover {
  color: #333;
}

input[type="text"] {
  margin: 0;
  width: 90%;
  font-size: 1.1em;
  line-height: 1.1em;
  height: 18px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 0.5vw;
  font-family: Lato, sans-serif;
  color: #888;
}

input[type="text"]:focus {
  color: #333;
}

/* Delete Task */
.delete:hover {
  color: #cf2323;
}

/* Completed Tasks Section*/
#completed-tasks label {
  text-decoration: line-through;
  color: #888;
}

#completed-tasks .edit {
  display: none;
}

@media only screen and (orientation: portrait) {
  /* Heading */
  .title-section,
  label[for="new-task"] {
    padding: 3.5vw 0 1vw;
  }

  #check-all-button {
    top: 3.6vw;
    font-size: 0.9em;
  }

  /* New Task Section */
  label[for="new-task"] {
    margin-bottom: 2vw;
  }

  /* Task list element styles */
  input[type="text"] {
    border-radius: 1.2vw;
  }
}
